a {
  color: green;
  text-decoration: none;
}
#active {
  color: red;
}
body {
  margin:0;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
}
ol {
  /* border-right: 1px solid gray; */
  width:100px;
  margin: 0;
  padding: 20px;
}
div {
  border: 0px solid black;
}
#grid {
  border: 0px solid blue;
  display: grid;
  grid-template-columns: 150px 1fr;
}
#name {
  border-right: 1px solid gray;
  margin-right: 10px;
}
@media(max-width:900px) {
  #grid {
    display: block;
  }
  #name {
    border-right: none;
  }
}
